/*font-family*/

p {
	font-family: Calabri;
}

h1 {
	font-family: arial;
}

/*font-size*/

body {
	font-size: 10px;
}

h1 {
	font-size: 5.0em;
}

p {
	font-size: 2.0em;
}

span {
	font-size: 4.0em;
}
